<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amazon Fresh Admin Dashboard</title>
    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
   
    <link rel="stylesheet" href="../stylesheets/css/style.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />

    <link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
    <script src="https://code.angularjs.org/1.5.0-rc.2/angular-route.min.js"></script>
    <script src="../angular/ng-infinite-scroll.min.js"></script>
    <script src="../angular/adminDashboard.js"></script>

    <script type="text/javascript" src="graphs/jquery.jqplot.js"></script>
	<script type="text/javascript" src="graphs/plugins/jqplot.barRenderer.js"></script>
<!--	<script type="text/javascript" src="src/plugins/jqplot.bubbleRenderer.js"></script> -->
	<script type="text/javascript" src="graphs/plugins/jqplot.highlighter.js"></script>
	<script type="text/javascript" src="graphs/plugins/jqplot.cursor.js"></script>
	<script type="text/javascript" src="graphs/plugins/jqplot.pointLabels.js"></script>
	<script type="text/javascript" src="graphs/plugins/jqplot.dateAxisRenderer.js"></script>
	<script type="text/javascript" src="graphs/plugins/jqplot.categoryAxisRenderer.js"></script>
	<!--<script type="text/javascript" src="graphs/bubblechart.js"></script>-->
	<script type="text/javascript" src="graphs/barchart.js"></script>
	<link rel="stylesheet" type="text/css" href="graphs/jquery.jqplot.css" />

  </head>
  <body  ng-app="adminApp" ng-controller="adminMainController"  >

<!-- Header starts  here   -->

 <header>
  		<nav class="navbar navbar-default" id="headerNav">
		  <div class="container-fluid">
		    <div class="navbar-header"  id="freshLogo">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
		      <a class="navbar-brand" href="/adminDashboard">
		        <img alt="Brand" src="../images/logo.png">
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav navbar-right">
			        
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px; padding: 5px;" role="button" aria-haspopup="true" aria-expanded="false"><img alt="" src="/images/user.png" class="profilePic"><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Admin<br><span style="font-size: 9px;">View Profile</span></a></li>
			            <li><a href="#">Help</a></li>
			            <li><a href="#">Settings</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="/logout">Log out</a></li>
			          </ul>
			        </li>
			     </ul>
		    </div>
		  </div>
		</nav>
    	
    </header>

<!-- Header ends here   -->
<!-- start body content from here  -->

<div class="mainTitle" style="margin-top: 50px;">
                <div class="container">
                <h1>Admin Dashboard</h1>
                </div>
            </div>
          
    <div class="container-fluid" >	
    	
	<div class="row">   <!-- start horizonal section 1 -->
		<div class="">
			<ul class="nav nav-tabs" style="style="background-color: #7db641;" " id="myTab">
	    		<!-- <li class="active"><a data-toggle="tab" href="#homeTab">HOME</a></li> -->
	    		<li class="active"><a data-toggle="tab" href="#farmerTab">FARMERS</a></li>
	    		<li><a data-toggle="tab" href="#customerTab">CUSTOMERS</a></li>
	    		<li><a data-toggle="tab" href="#productTab">PRODUCTS</a></li>
	    		<li><a data-toggle="tab" href="#billsTab">BILLS</a></li>
	    		<li><a data-toggle="tab" href="#statisticsTab">STATISTICS</a></li>
	    		<li><a data-toggle="tab" href="#tripsTab">TRIPS</a></li>
	    		<li><a data-toggle="tab" href="#dynamicPricingTab">DYNAMIC PRICING</a></li>
			</ul>
			<div class="tab-content" style=" background-color: #fff;">
	    		<div id="homeTab" class="tab-pane fade in active">
	    		</div>
	    		<div id="farmerTab" class="tab-pane fade">
	    	    	<span class="adminSearch">
						<button class="btn btn-default clickShowApprovalPendingFarmers" href="javascript:void(0)" type="button" ng-click="getFarmerApprovalPendingList();">Farmer Pending Approval</button> 
						<button class="btn btn-default clickShowAllFarmers" href="javascript:void(0)" type="button" ng-click="getFarmerList();">Show All Farmers </button> 				
					</span>
					<span class="adminSearchBy">Search By</span>
					<span class="adminSearch">
					<select class="btn btn-default" ng-model="fc">
					  <option value="firstname">FirstName</option>
					  <option value="lastname">Lastname</option>
					  <option value="farmerID">FarmerID</option>
					  <option value="city">City</option>
					  <option value="state">State</option>
					  <option value="zipcode">Zipcode</option>
					  <option value="contact">Contact</option>
					  <option value="email">Email</option>
					  <option value="other">Other</option>
					</select></span>	
					<span class="adminSearchInput"><input type="text" class="form-control" ng-model="fq" name="searchFarmer" placeholder="Search Farmer..."></span>
					<span class="adminSearch"><button class="btn btn-default clickSearchFarmer" href="javascript:void(0)"type="button" ng-click="searchFarmer();"><img alt="Brand" src="../images/search.png" style="width:18px;height:18px">Search Farmers </button></span>
		    	</div>
		    	<div id="customerTab" class="tab-pane fade">
	    	    	<span class="adminSearch">
		    	    	<!-- <button class="btn btn-default clickShowApprovalPendingCustomers" href="javascript:void(0)" type="button" ng-click="getCustomerApprovalPendingList();">Customer Approval Pending </button> --> 
						<button class="btn btn-default clickShowAllCustomers" href="javascript:void(0)"  type="button" ng-click="getCustomerList();">Show All Customers </button> 
					</span>
					<span class="adminSearchBy">Search By</span>
					<span class="adminSearch">
					<select class="btn btn-default" ng-model="cc">
					  <option value="first_name">FirstName</option>
					  <option value="last_name">Lastname</option>
					  <option value="customer_id">CustomerID</option>
					  <option value="city">City</option>
					  <option value="state">State</option>
					  <option value="zipcode">Zipcode</option>
					  <option value="contact">Contact</option>
					  <option value="email">Email</option>
					  <option value="other">Other</option>
					</select>	
					</span>
					<span class="adminSearchInput"><input type="text" class="form-control" ng-model="cq" name="searchCustomer" placeholder="Enter Search value.."></span>
					<span class="adminSearch"><button class="btn btn-default clickSearchCustomer" href="javascript:void(0)"type="button" ng-click="searchCustomer();"><img alt="Brand" src="../images/search.png" style="width:18px;height:18px">Search Customers </button> </span>
		    	</div>
		    	<div id="productTab" class="tab-pane fade">
	    	    	<span class="adminSearch">
						<button class="btn btn-default clickShowApprovalPendingProducts" href="javascript:void(0)" type="button" ng-click="getProductApprovalPendingList();">Product Approval Pending </button> 
						<button class="btn btn-default clickShowAllProducts" href="javascript:void(0)" type="button" ng-click="getProductList();">Show All Products </button> 
					</span>
					<span class="adminSearchBy">Search By</span>
					<span class="adminSearch">
					<select class="btn btn-default" ng-model="pc">
					  <option value="">Select Criteria To Search</option>
					  <option value="product_id">ProductID</option>
					  <option value="farmer_id">FarmerID</option>
					  <option value="name">Product Name</option>
					  <option value="product_type">Product Type</option>
					</select>	
					</span>
					<span class="adminSearchInput"><input type="text" class="form-control" name="searchProduct"ng-model="pq" placeholder="Enter Search value.."></span>
					<span class="adminSearch"><button class="btn btn-default clickSearchProduct" href="javascript:void(0)" type="button" ng-click="searchProduct()"><img alt="Brand" src="../images/search.png" style="width:18px;height:18px">Search Products </button></span> 
					
		    	</div>
		    	<div id="billsTab" class="tab-pane fade">
	    	    	<span class="adminSearch">
						<button class="btn btn-default clickShowBills" href="javascript:void(0)" type="button" ng-click="getBillingList();">Show All Bills </button> 
					</span>
					<span class="adminSearchBy">Search By</span>
					<span class="adminSearch">
						<select class="btn btn-default" ng-model="bc">
						<option value="">Select Criteria To Search</option>
						  <option value="billId">Bill ID</option>
						  <option value="custId">Customer ID</option>
						</select>	
					</span>
					<span class="adminSearchInput"><input type="text" class="form-control" name="searchBill" ng-model="bq" placeholder="Enter Search value.."></span>
					<span class="adminSearch"><button class="btn btn-default clickSearchBill" ng-click="searchBill();" href="javascript:void(0)"type="button"><img alt="Brand" src="../images/search.png" style="width:18px;height:18px">Search Bill </button></span> 
		    	</div>
		    	<div id="statisticsTab" class="tab-pane fade">
	    	    	<span class="adminSearch">
						<button class="btn btn-default clickRevenuePerWeek" href="javascript:void(0)" type="button">Show Reveue Per Week </button>
						<button class="btn btn-default clickRidesPerArea" href="javascript:void(0)" type="button">Show Rides Per Area </button> 
						<button class="btn btn-default clickRidesPerDriver" href="javascript:void(0)" type="button">Show Rides Per Driver </button> 
						<button class="btn btn-default clickRidesPerCustomer" href="javascript:void(0)" type="button">Show Rides Per Customer </button> 
					</span>
		    	</div>
		    	<div id="tripsTab" class="tab-pane fade">
	    	    	<div class="adminSearch">
						<button class="btn btn-default "  ng-click="showAllTripsOnMap();" type="button">Show Customer Trips</button>
						
					</div>
					<br><br><br>
					<div style="" id="map"></div>
		    	</div>

				<div id="dynamicPricingTab" class="tab-pane fade">
					 <span class="adminSearch">
						<button class="btn btn-default clickDPProductType" href="javascript:void(0)" ng-click="adminGetUniqueProductTypes();"type="submit">Apply for Product Type</button>
						<button class="btn btn-default clickDPProduct" href="javascript:void(0)" ng-click="adminGetUniqueProducts()"; type="submit">Apply for Product</button>
						<!-- <button class="btn btn-default clickDPFarmer" href="javascript:void(0)"type="button">Apply for Farmer</button> -->
					</span>
				</div>
			</div>   <!-- end class tab-content-->
		</div>	
	</div></br>  <!-- end  horizonal section 1 -->

	<div class="row " >  <!-- start farmer section for list display -->
		<div class="col-md-12 farmerSection showAllFarmers" infinite-scroll="loadMoreF1()" infinite-scroll-distance="0" infinite-scroll-disabled="{{f1_stopLoading}}" >
			<table class="table table-hover table-condensed table-bordered"  >
			<caption> List of Farmers  {{f1_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Farmer ID</th><th>Firstname</th><th>Lastname</th>
					<th>City</th><th>State</th><th>Zip Code</th>
					<th>Contact</th><th>Email</th><th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "f in f1	">
					<td>{{$index+1}}</td>
					<td><a href="/farmers/{{f.farmer_id}}" style="color: blue;" target="_blank">{{f.farmer_id}}</a></td><td>{{f.first_name}}</td><td>{{f.last_name}}</td>
					<td>{{f.city}}</td><td>{{f.state}}</td><td>{{f.zipcode}}</td>
					<td>{{f.contact}}</td><td>{{f.email}}</td>
					
					<td><span ng-if="f.approved === 1" style="color: green; font-weight: bold;">Approved</span><span ng-if="f.approved === 0" style="color: orange;font-weight: bold;">Pending</span><span ng-if="f.approved === 2" style="color: red;font-weight: bold;">Rejected</span></td>
				</tr>
			</tbody></table>
			<button type="submit" class="btn btn-default" ng-click="loadMoreF1();" >Load More</button>
		</div>

		<div class="col-md-12 farmerSection showFarmerApprovalPending" infinite-scroll="loadMoreF2()" infinite-scroll-distance="0" infinite-scroll-disabled="{{f2_stopLoading}}" >
			<table class="table table-hover table-condensed table-bordered">
			<caption> Farmer Approval Pending {{f2_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Farmer ID</th><th>Firstname</th><th>Lastname</th>
					<th>City</th><th>State</th><th>Zip Code</th>
					<th>Contact</th><th>Email</th><th>Approve</th><th>Reject</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "f in f2">
					<td>{{$index+1}}</td>
					<td><a href="/farmers/{{f.farmer_id}}" style="color: blue;" target="_blank">{{f.farmer_id}}</a></td><td>{{f.first_name}}</td><td>{{f.last_name}}</td>
					<td>{{f.city}}</td><td>{{f.state}}</td><td>{{f.zipcode}}</td>
					<td>{{f.contact}}</td><td>{{f.email}}</td>
					<td><button ng-click="approveFarmer(f);" id="approveBtn" ng-disabled="f.approve" class="btn btn-primary">Approve</button></td>
					<td><button ng-click="disApproveFarmer(f);" id="disApproveBtn" ng-disabled="f.disapprove" class="btn btn-danger">Reject</button></td>
				</tr>
			</tbody></table>
			<button type="submit" class="btn btn-default" ng-click="loadMoreF2();" >Load More</button></td>
		</div>

		<div class="col-md-12 farmerSection showSearchFarmerList" infinite-scroll="loadMoreF3();" infinite-scroll-distance="0" infinite-scroll-disabled="{{f3_stopLoading}}" >
			<table class="table table-hover table-condensed table-bordered"  >
			<caption> List of Farmers for your search result  {{f3_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Farmer ID</th><th>Firstname</th><th>Lastname</th>
					<th>City</th><th>State</th><th>Zip Code</th>
					<th>Contact</th><th>Email</th><th>Approve/Reject</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "f in f3	">
					<td>{{$index+1}}</td>
					<td><a href="/farmers/{{f.farmer_id}}" style="color: blue;" target="_blank">{{f.farmer_id}}</a></td><td>{{f.first_name}}</td><td>{{f.last_name}}</td>
					<td>{{f.city}}</td><td>{{f.state}}</td><td>{{f.zipcode}}</td>
					<td>{{f.contact}}</td><td>{{f.email}}</td>
					<td><span ng-if="f.approved === 0"><button ng-click="approveFarmerOnSearch(f);" id="approveBtn" class="btn btn-primary">Approve</button></span>
					<span ng-if="f.approved !== 0"><button ng-click="disApproveFarmerOnSearch(f);" id="disApproveBtn" class="btn btn-danger">Reject</button></span></td>
					
				</tr>
			</tbody></table>
			<button type="submit" class="btn btn-default" ng-click="loadMoreF3();" >Load More</button></td>
		</div>
	</div>	<!-- end farmer section  for list display -->


	<div class="row">  <!-- start customer section for list display -->
		<div class="col-md-12 customerSection showAllCustomers" infinite-scroll="loadMoreC1();" infinite-scroll-distance="0" infinite-scroll-disabled="{{c1_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> List of Customers  {{c1_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Customer ID</th><th>Firstname</th><th>Lastname</th>
					<th>City</th><th>State</th><th>Zip Code</th><th>Contact</th><th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "c in c1">
					<td>{{$index+1}}</td>
					<td><a href="/customers/{{c.customer_id}}" style="color: blue;" target="_blank">{{c.customer_id}}</a></td><td>{{c.first_name}}</td><td>{{c.last_name}}</td>
					<td>{{c.city}}</td><td>{{c.state}}</td><td>{{c.zipcode}}</td>
					<td>{{c.contact}}</td><td>{{c.email}}</td>
				</tr>
			</tbody></table>
		</div>

		<div class="col-md-12 customerSection showCustomerApprovalPending" infinite-scroll="loadMoreC2();" infinite-scroll-distance="0" infinite-scroll-disabled="{{c2_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> Customer Approval Pending {{c2_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Customer ID</th><th>Firstname</th><th>Lastname</th>
					<th>City</th><th>State</th><th>Zip Code</th>
					<th>Contact</th><th>Email</th><th>Approve</th><th>Disapprove</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "c in c2">
					<td>{{$index+1}}</td>
					<td><a href="/customers/{{c.customer_id}}" style="color: blue;" target="_blank">{{c.customer_id}}</a></td><td>{{c.first_name}}</td><td>{{c.last_name}}</td>
					<td>{{c.city}}</td><td>{{c.state}}</td><td>{{c.zipcode}}</td>
					<td>{{c.phoneNumber}}</td><td>{{c.email}}</td>
					<td><button ng-click="approveCustomer(c);" ng-disabled="c.approve" class="btn btn-default">Approve</button></td>
					<td><button ng-click="disApproveCustomer(c);"ng-disabled="c.disapprove" class="btn btn-danger">Disapprove</button></td>
				</tr>
			</tbody></table>
		</div>

		<div class="col-md-12 customerSection showSearchCustomerList" infinite-scroll="loadMoreC3();" infinite-scroll-distance="0" infinite-scroll-disabled="{{c3_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> List of Customers for your search result {{c3_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Customer ID</th><th>Firstname</th><th>Lastname</th>
					<th>City</th><th>State</th><th>Zip Code</th><th>Contact</th><th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "c in c3">
					<td>{{$index+1}}</td>
					<td><a href="/customers/{{c.customer_id}}" style="color: blue;" target="_blank">{{c.customer_id}}</a></td><td>{{c.first_name}}</td><td>{{c.last_name}}</td>
					<td>{{c.city}}</td><td>{{c.state}}</td><td>{{c.zipcode}}</td>
					<td>{{c.contact}}</td><td>{{c.email}}</td>
				</tr>
			</tbody></table>
		</div>
	</div>	<!-- end customersection  for list display -->


	<div class="row ">  <!-- start product section for list display -->
		<div class="col-md-12 productSection  showAllProducts" infinite-scroll="loadMoreP1();" infinite-scroll-distance="0" infinite-scroll-disabled="{{p1_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> List of Products  {{p1_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Product ID</th><th>Farmer ID</th><th>Product Name</th><th>Product Type</th>
					<th>Price</th><th>Quantity</th><th>Description</th><th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "p in p1">
					<td>{{$index+1}}</td>
					<td>{{p.product_id}}</td><td>{{p.farmer_id}}</td><td>{{p.name}}</td><td>{{p.product_type}}</td>
					<td>$ {{p.price}}</td><td>{{p.quantity}}</td><td>{{p.description}}</td>
					<td><span ng-if="p.approved === 1" style="color: green; font-weight: bold;">Approved</span><span ng-if="p.approved === 0" style="color: orange;font-weight: bold;">Pending</span><span ng-if="p.approved === 2" style="color: red;font-weight: bold;">Rejected</span></td>
				</tr>
			</tbody></table>
			<button type="submit" class="btn btn-default" ng-click="loadMoreP1();" >Load More</button></td>
		</div>

		<div class="col-md-12 productSection showProductApprovalPending" infinite-scroll="loadMoreP2();" infinite-scroll-distance="0" infinite-scroll-disabled="{{p2_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> Product Pending Approval {{p_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Product ID</th><th>Farmer ID</th><th>Product Name</th><th>Product Type</th>
					<th>Price</th><th>Description</th><th>Approve</th><th>Disapprove</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "p in p2">
					<td>{{$index+1}}</td>
					<td>{{p.product_id}}</td><td>{{p.farmer_id}}</td><td>{{p.name}}</td><td>{{p.product_type}}</td>
					<td>$ {{p.price}}</td><td>{{p.description}}</td>
					<td><button ng-click="approveProduct(p);" id="approveBtn" ng-disabled="p.approve" class="btn btn-primary">Approve</button></td>
					<td><button ng-click="disApproveProduct(p);" id="disApproveBtn" ng-disabled="p.disapprove" class="btn btn-danger">Reject</button></td>
				</tr>
			</tbody></table>
		</div>

		<div class="col-md-12 productSection  showSearchProductList" infinite-scroll="loadMoreP3();" infinite-scroll-distance="0" infinite-scroll-disabled="{{p3_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> List of Products for your search result: {{p3_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Product ID</th><th>Farmer ID</th><th>Product Name</th><th>Product Type</th>
					<th>Price</th><th>Quantity</th><th>Description</th><th>Approve</th><th>Disapprove</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "p in p3">
					<td>{{$index+1}}</td>
					<td>{{p.product_id}}</td><td>{{p.farmer_id}}</td><td>{{p.name}}</td><td>{{p.product_type}}</td>
					<td>$ {{p.price}}</td><td>{{p.quantity}}</td><td>{{p.description}}</td>
					<td><button ng-click="approveProduct(p);" id="approveBtn" ng-disabled="p.approve" class="btn btn-primary">Approve</button></td>
					<td><button ng-click="disApproveProduct(p);" id="disApproveBtn" ng-disabled="p.disapprove" class="btn btn-danger">Reject</button></td>
				</tr>
			</tbody></table>
		</div>
	</div>	<!-- end productsection  for list display -->
	

	<div class="row ">  <!-- start billing section for list display -->
		<div class="col-md-12 billingSection  showAllBills" infinite-scroll="loadMoreB1();" infinite-scroll-distance="0" infinite-scroll-disabled="{{b1_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> List of Bills  {{b1_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Billing ID</th><th>Bill Date</th><th>Expected Delivery Date</th><th>Delivery At</th>
					<th>Price</th><th>Products</th><th>Customer Last Name</th>
					<th>CustomerID</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "b in b1">
					<td>{{$index+1}}</td>
					<td>{{b.order_id}}</td><td>{{b.order_date | date:'MM/dd/yyyy @ h:mma'}}</td><td>{{b.delivery_date}}</td><td>{{b.delivery_address}}</td>
					<td>$ {{b.amount}}</td><td>{{b.shoppingCart.items.length}}</td>
					<td>{{b.customer_last_name}}</td><td>{{b.cust_id}}</td>
				</tr>
			</tbody></table>
		</div>
		
		<div class="col-md-12 billingSection  showSearchBillingList" infinite-scroll="loadMoreB2();" infinite-scroll-distance="0" infinite-scroll-disabled="{{b2_stopLoading}}">
			<table class="table table-hover table-condensed table-bordered">
			<caption> List of Bills for your search result: {{b3_count}}</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Billing ID</th><th>Bill Date</th><th>Expected Delivery Date</th><th>Delivery At</th>
					<th>Price</th><th>Products</th><th>Customer Last Name</th>
					<th>CustomerID</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" ng-repeat= "b in b3">
					<td>{{$index+1}}</td>
					<td>{{b.order_id}}</td><td>{{b.order_date | date:'MM/dd/yyyy @ h:mma'}}</td><td>{{b.delivery_date}}</td><td>{{b.delivery_address}}</td>
					<td>$ {{b.amount}}</td><td>{{b.shoppingCart.items.length}}</td>
					<td>{{b.customer_last_name}}</td><td>{{b.cust_id}}</td>
				</tr>
			</tbody></table>
		</div>
	</div>  <!-- end billingsection  for list display -->


	<div class="row statSection">  <!-- start statSection for chart display -->
		
		

		<div class="col-md-12 statSection  showRevenuePerWeek">
			<div class ="col-md-7 col-md-offset-1 showBubbleGraph" id ="chart1" style="width:65%; height:300px"></div>		
			<div class="col-md-2 ">
				<form name="myForm" >
				    <label for="exampleInput">Select a date</label>
				    <input type="date" id="exampleInput" name="input" ng-model="example.value" placeholder="yyyy-MM-dd" min="	2016-01-01" max="{{dmax}}"required>
				    <!--<div role="alert"> <span class="error" ng-show="myForm.input.$error.required">Required!</span>
				     <span class="error" ng-show="myForm.input.
					$error.date">Not a valid date!</span>
				    </div>--> <br>
				    <tt id="revenueDate">{{example.value | date: "yyyy-MM-dd"}}</tt><br>
				    <!--<tt>{{myForm.input.$valid}}</tt><br/>
				    <tt>{{myForm.input.$error}}</tt><br/>
				    <tt>{{myForm.$valid}}</tt><br/>
				    <tt>{{!!myForm.$error.required}}</tt><br/>-->
				</form>
				<button class="btn btn-default ShowRevenuePerWeek" href="javascript:void(0)" type="button">Show Reveue Per 	Day </button>
			</div>
		</div>

		<div class="col-md-12 statSection  showRidesPerArea">
			<div class="col-md-12 statSection ">
				<div class="row statSection">
					<div class=" row col-md-4">
						<h4 align="center"> Select States for comparision</h4>
						<div class="col-md-3 " ng-repeat= "state in states">
							<input id="ad_Checkbox2" class="states_checkbox" type="checkbox" value={{state}} />{{state}}
						</div>
						<div class="col-md-12" align="center">
							<button id="getStates" class="btn btn-default getStatesAndGenerateGraph"> Generate Graph</button>	
						</div>
					</div>
					<div class ="col-md-5  showBubbleGraph" id ="chart2" style="width:60%; height:300px"></div>	
					<div class ="col-md-5"><span id="info2"></span></div>
				</div>
			</div>
		</div>

		<div class="col-md-12 statSection  showRidesPerDriver">
			<div class="col-md-12 statSection ">
				<div class="row statSection">
					<div class=" row col-md-4">
						<h4 align="center"> Select Months for comparision</h4>
						<div class="col-md-3 " ng-repeat= "month in months">
							<input id="ad_Checkbox2" class="Driver_month_checkbox" type="checkbox" value={{month}} />{{month}}
						</div>
						<div class="col-md-12" align="center">
							<button id="getMonths" class="btn btn-default getDriverMonthAndGenerateGraph"> Generate Graph</button>	
						</div>
					</div>
					<div class ="col-md-5  showBubbleGraph" id ="chart3" style="width:60%; height:300px"></div>	
					<div class ="col-md-5"><span id="info3"></span></div>
				</div>
			</div>
		</div>

		<div class="col-md-12 statSection  showRidesPerCustomer">
			<div class="col-md-12 statSection ">
				<div class="row statSection">
					<div class=" row col-md-4">
						<h4 align="center"> Select Months for comparision</h4>
						<div class="col-md-3 " ng-repeat= "month in months">
							<input id="ad_Checkbox2" class="Customer_month_checkbox" type="checkbox" value={{month}} />{{month}}
						</div>
						<div class="col-md-12" align="center">
							<button id="getMonths" class="btn btn-default getCustomerMonthAndGenerateGraph"> Generate Graph</button>	
						</div>
					</div>
					<div class ="col-md-5  showBubbleGraph" id ="chart4" style="width:60%; height:300px"></div>	
					<div class ="col-md-5"><span id="info4"></span></div>
				</div>
			</div>
		</div>
		



		


	</div>  <!-- end statisticssection for chart display -->
	<div class="row dpSection">  <!-- start dynamicpricingsection  -->
	
		<div class="col-md-12 dpSection  showDPProductType">
			<div class=" row col-md-12" style="word-wrap: break-word;">
				<h4 align="center"> Select Product Type</h4>
				<form action="">
					<div class="col-md-3 " ng-repeat= "productType in productTypes">
					<input  class="productTypes_checkbox" type="radio" name="DPproductType"value={{productType.product_type}} />{{productType.product_type}}
					</div>
				</form>
				
			</div>
			<div class="col-md-12" align="center">
				<br><input type="text" style="width :20%"class="form-control" id="DPPercentageProductType" placeholder="Enter vlaues in % .."><br>
				<button id="getMonths" class="btn btn-default applyDPForProductType"> Apply New Price</button>	
				<h4>{{dpPTMessage}}</h4>
			</div>			
		</div>

		<div class="col-md-12 dpSection  showDPProduct">
			showDPProduct
			<div class=" row col-md-12" style="word-wrap: break-word;">
				<h4 align="center"> Select Product</h4>
				<form action="">
					<div class="col-md-3 " ng-repeat= "product in products">
					<input  class="products_checkbox" type="radio" name="DPproduct"value={{product.name}} />{{product.name}}
					</div>
				</form>
				
			</div>
			<div class="col-md-12" align="center">
				<br><input type="text" style="width :20%"class="form-control" id="DPPercentageProduct" placeholder="Enter vlaues in % .."><br>
				<button id="getMonths" class="btn btn-default applyDPForProduct"> Apply New Price</button>	
				<h4>{{dpPTMessage}}</h4>
			</div>
		</div>

		<!-- <div class="col-md-12 dpSection  showDPFarmer">
			showDPFarmer
		</div> -->
	</div>  <!-- end dpsection  -->

</div>  <!-- end class container-fluid -->

    <!--<footer style="padding: 0;">
    	<div id="refreshFooter">
		    <div class="column" id="column1">
		        <a id="lnk-gbl-help" href="#">Help</a>
			    <a href="#">Conditions of Use</a>
			    <a href="#">Privacy Notice</a>
		    </div>
		    <div class="column" id="column2">
		        <a href="#">About</a>
		        <a href="#">Careers</a>
		    </div>
			<div id="copyrightAndDisclaimer">
		        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
		        All items sold by and ship from AmazonFresh unless otherwise specified.
    		</div>
		</div>
    </footer>-->
</body>
<script>
        $(document).ready(function () {
        	
        	$(".testClick").on("click", function () {
        		var d = $("#revenueDate").text();
				//alert(d);
			});

        		$('.farmerSection').hide();
        		$('.customerSection').hide();
        		$('.productSection').hide();
        		$('.billingSection').hide();
        		$('.statSection').hide();
        		$('.dpSection').hide();
        		
        	$(".clickShowAllFarmers").on("click", function () {
                $('.farmerSection').show();
                $('.customerSection').hide();$('.productSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();
        		$('.showFarmerApprovalPending').hide();$('.showSearchFarmerList').hide();
        		$(window).scroll(function () {
        			if ($(document).height() <= $(window).scrollTop() + $(window).height()) {
            		//alert("End Of The Page");
            		$('.loadMoreF1 ()');
        			}
    			});
            });
			$(".clickShowApprovalPendingFarmers").on("click", function () {
                $('.farmerSection').show();
                $('.customerSection').hide();$('.productSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllFarmers').hide();$('.showSearchFarmerList').hide();
        		/*$(window).scroll(function () {
        			if ($(document).height() <= $(window).scrollTop() + $(window).height()) {
            		$('.loadMoreF2 ()');
        			}
    			});*/
            });
			$(".clickSearchFarmer").on("click", function () {
                $('.farmerSection').show();
                $('.customerSection').hide();$('.productSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllFarmers').hide();$('.showFarmerApprovalPending').hide();
            });

			$(".clickShowAllCustomers").on("click", function () {
                $('.customerSection').show();
                $('.farmerSection').hide();$('.productSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showCustomerApprovalPending').hide();$('.showSearchCustomerList').hide();
            });
			$(".clickShowApprovalPendingCustomers").on("click", function () {
                $('.customerSection').show();
                $('.farmerSection').hide();$('.productSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllCustomers').hide();$('.showSearchCustomerList').hide();
            });
			$(".clickSearchCustomer").on("click", function () {
                $('.customerSection').show();
                $('.farmerSection').hide();$('.productSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllCustomers').hide();$('.showCustomerApprovalPending').hide();
            });

			$(".clickShowAllProducts").on("click", function () {
                $('.productSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showProductApprovalPending').hide();$('.showSearchProductList').hide();
            });
			$(".clickShowApprovalPendingProducts").on("click", function () {
                $('.productSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllProducts').hide();$('.showSearchProductList').hide();
            });
			$(".clickSearchProduct").on("click", function () {
                $('.productSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
        		$('.billingSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllProducts').hide();$('.showProductApprovalPending').hide();
            });

			$(".clickShowBills").on("click", function () {
                $('.billingSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showSearchBillingList').hide();
            });
            $(".clickSearchBill").on("click", function () {
                $('.billingSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.statSection').hide();$('.dpSection').hide();
        		$('.showAllBills').hide();
            });
              
            $(".clickRevenuePerWeek").on("click", function () {
                $('.statSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.dpSection').hide();
                $('.showRidesPerArea').hide();$('.showRidesPerDriver').hide();
                $('.showRidesPerCustomer').hide();
            });
            $(".clickRidesPerArea").on("click", function () {
                $('.statSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.dpSection').hide();
               	$('.showRevenuePerWeek').hide();$('.showRidesPerDriver').hide();
               	$('.showRidesPerCustomer').hide();
            });
            $(".clickRidesPerDriver").on("click", function () {
                $('.statSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.dpSection').hide();
                $('.showRevenuePerWeek').hide();$('.showRidesPerArea').hide();
                $('.showRidesPerCustomer').hide();
            });
            $(".clickRidesPerCustomer").on("click", function () {
                $('.statSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.dpSection').hide();
                $('.showRevenuePerWeek').hide();$('.showRidesPerArea').hide();
                $('.showRidesPerDriver').hide();
            });
            
            $(".clickDPProductType").on("click", function () {
                $('.dpSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.statSection').hide();
                $('.showDPProduct').hide();$('.showDPFarmer').hide();
            });
            $(".clickDPProduct").on("click", function () {
                $('.dpSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.statSection').hide();
                $('.showDPProductType').hide();$('.showDPFarmer').hide();
            });
            $(".clickDPFarmer").on("click", function () {
                $('.dpSection').show();
                $('.farmerSection').hide();$('.customerSection').hide();
                $('.productSection').hide();$('.billingSection').hide();$('.statSection').hide();
                $('.showDPProductType').hide();$('.showDPProduct').hide();
            });
});
</script>
<script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB86L2RKXHDHNPfHJEWpbW2LMQ8QSTYmcM&callback=">
	    </script>
</html>