<!DOCTYPE html>
<html ng-app="amazonFreshApp" ng-controller="amazonCntrl">
  <head>
    <title>Welcome | AmazonFresh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
 
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="/js/prefixfree.min.js"></script>
  </head>
  <body ng-init="listAllProducts();">
  	<header>
  		<nav class="navbar navbar-default" id="headerNav">
		  <div class="container-fluid">
		    <div class="navbar-header"  id="freshLogo">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
		      <a class="navbar-brand" href="/">
		        <img alt="Brand" src="../images/logo.png">
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav navbar-right">
			        <li style="cursor: pointer;"><a style="color: #fff; padding: 0;" href="/shoppingCart"><i class="glyphicon glyphicon-shopping-cart cart"><span class="cartItems">{{itemsInCart}}</span></i></a>

			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px; padding: 5px;" role="button" aria-haspopup="true" aria-expanded="false"><img alt="" src="/images/user.png" class="profilePic"><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">User Name<br><span style="font-size: 9px;">View Profile</span></a></li>
			            <li><a href="#">Help</a></li>
			            <li><a href="#">Settings</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="/logout">Log out</a></li>
			          </ul>
			        </li>
			     </ul>
		    </div>
		  </div>
		</nav>
    	
    </header>

    <div class="container" style="margin-top: 5%;">
    	<section class="decoration">
	    	<div class="row">
		    	<div class="col-md-2">
		    		<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" style="width: 90%;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Shop
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="#">Produce</a></li>
					    <li><a href="#">Perishables</a></li>
					    <li><a href="#">Prepared Foods</a></li>
					    <li><a href="#">Pantry</a></li>
					    <li><a href="#">Speciality</a></li>
					  </ul>
					</div>
		    	</div>
		    	<div class="col-md-10">
		    		<div class="input-group">
				      <input type="text" class="form-control" placeholder="Amazon Fresh Search">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Go!</button>
				      </span>
				    </div>
		  		</div>
	    	</div>
    	</section>
    	
    	<section>
    	<div class="container marketing" style="width: 80%;">
			<div id="myCarousel1" class="carousel slide" data-ride="carousel">
		      <!-- Indicators -->
		      <div class="carousel-inner">
		        <div class="item active">
		         <div class="row">
		        <div class="col-lg-4">
		          <img src="../images/temp/salate.png" alt="Generic placeholder image">
		          <h4>Salates</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img src="../images/temp/burger.png" alt="Generic placeholder image">
		          <h4>Meal</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img src="../images/temp/drinks.png" alt="Generic placeholder image">
		          <h4>Drink</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		      </div><!-- /.row -->
				 
		        </div>
		        <div class="item">
		         <div class="row">
		        <div class="col-lg-4">
		          <img src="../images/temp/salate.png" alt="Generic placeholder image">
		          <h4>Salates</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img src="../images/temp/burger.png" alt="Generic placeholder image">
		          <h4>Meal</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img src="../images/temp/drinks.png" alt="Generic placeholder image">
		          <h4>Drink</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		      </div><!-- /.row -->
				 
		        </div>
		        <div class="item">
		          <div class="row">
		        <div class="col-lg-4">
		          <img  src="../images/temp/salate.png" alt="Generic placeholder image">
		          <h4>Salates</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img  src="../images/temp/burger.png" alt="Generic placeholder image">
		          <h4>Meal</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img  src="../images/temp/drinks.png" alt="Generic placeholder image">
		          <h4>Drink</h4>
		          <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
		        </div><!-- /.col-lg-4 -->
		      </div><!-- /.row -->
		        </div>
		      </div>
		      <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		      <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		    </div><!-- /.carousel -->
			</div>

		    <!-- Carousel
		    ================================================== -->

			<div class="mainTitle">
			<div class="container">
			<h1>Shop All Categories</h1>
			</div>
			</div>

		    <!-- Marketing messaging and featurettes
		    ================================================== -->
		 
			
			

			

			<div class="highlightSection">
			<div class="container" style="padding: 0; width: 90%;">
			<div class="row">
				<div class="col-lg-4" ng-repeat="product in allProducts track by $index" style="margin-bottom: 15px;">
					<div class="media">
					  <img id="{{product.product_id}}" class="img-circle" src="../images/temp/nepali-momo.png" width="250" height="200" alt="Generic placeholder image">
			          <h2>{{product.name}}</h2>
			          <p>{{product.description}}</p>
			          
			          <span style="width: 20%; float: left;"><input type="number" ng-model="quantity" name="quantity" value="1" class="form-control" required/></span>
			          <span style="width: 60%;" class="add-to-cart"><button class="btn btn-default" ng-click="addToCart(product, quantity, product.product_id);" role="button" >&dollar;<b>{{product.price}}</b> Add to cart &raquo;</button></span>
			          <span><a class="btn" role="button" target="_blank" href="/showProduct/{{product.product_id}}" style="float: right; color: #7db641;">[+] Details</a></span>
					</div>
				</div>
			
			</div>
		
			</div>
	      

    	</section>
    </div>

    <footer style="padding: 0;">
    	<div id="refreshFooter">
		    <div class="column" id="column1">
		        <a id="lnk-gbl-help" href="#">Help</a>
			    <a href="#">Conditions of Use</a>
			    <a href="#">Privacy Notice</a>
		    </div>
		    <div class="column" id="column2">
		        <a href="#">About</a>
		        <a href="#">Careers</a>
		    </div>
			<div id="copyrightAndDisclaimer">
		        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
		        All items sold by and ship from AmazonFresh unless otherwise specified.
    		</div>
		</div>
    </footer>
    <script src="/js/holder.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/angular/controller.js"></script>
  
  </body>
</html>