<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found | AmazonFresh</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
    <header>
    	<div id="headerNav">
    		<ul class="sidelist">
	            <li id="freshLogo">
	                <a id="fresh_logo_link" href="/"><img alt="AmazonFresh Home" src="../images/logo.png">
	                <span></span></a>
	            </li>
	            
        	</ul>
    	</div>
    </header>
    <div class="welPanel welImage">
    	<div class="col-md-6 col-md-offset-3 errorContent">
    		<table>
    			<tr>
    				<td><img src="../images/question_mark.gif"></td>
    				<td style="padding-left: 15px;">
    					<span style="color: #e47911;">Looking for Something?</span><br>
						<span style="font-weight: normal;">We're sorry. The Web address you entered is not a functioning page on our site.</span><br><br>
						<span style=""><img src="../images/orange-arrow.gif">Go to AmazonFresh's <a href="/">Home</a> Page</span>
    				</td>
    			</tr>
    		</table>
    		
		</div>
    </div>
    <footer>
    	<div id="refreshFooter">
		    <div class="column" id="column1">
		        <a id="lnk-gbl-help" href="#">Help</a>
			    <a href="#">Conditions of Use</a>
			    <a href="#">Privacy Notice</a>
		    </div>
		    <div class="column" id="column2">
		        <a href="#">About</a>
		        <a href="#">Careers</a>
		    </div>
			<div id="copyrightAndDisclaimer">
		        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
		        All items sold by and ship from AmazonFresh unless otherwise specified.
    		</div>
		</div>
    </footer>
  </body>
</html>