<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | AmazonFresh</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
    <header>
    	<div id="headerNav">
    		<ul class="sidelist">
	            <li id="freshLogo">
	                <a id="fresh_logo_link" href="/"><img alt="AmazonFresh Home" src="../images/logo.png">
	                <span></span></a>
	            </li>
	            <li class="first">
	                <span id="greeting" class="greeting">
	                    Already an AmazonFresh customer? <a id="signInLink" href="/signIn">Sign in</a>.
	                </span>
	            </li>
        	</ul>
    	</div>
    </header>
    <div class="welPanel welImage">
    	
    </div>
    <footer>
    	<div id="refreshFooter">
		    <div class="column" id="column1">
		        <a id="lnk-gbl-help" href="#">Help</a>
			    <a href="#">Conditions of Use</a>
			    <a href="#">Privacy Notice</a>
		    </div>
		    <div class="column" id="column2">
		        <a href="#">About</a>
		        <a href="#">Careers</a>
		    </div>
			<div id="copyrightAndDisclaimer">
		        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
		        All items sold by and ship from AmazonFresh unless otherwise specified.
    		</div>
		</div>
    </footer>
  </body>
</html>