<!DOCTYPE html>
<html ng-app="amazonFreshApp" ng-controller="amazonCntrl">
  <head>
    <title>Confirmation | AmazonFresh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
 
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="/js/prefixfree.min.js"></script>
  </head>
  <body ng-init="placeOrder();">
  	<header>
  		<nav class="navbar navbar-default" id="headerNav">
		  <div class="container-fluid">
		    <div class="navbar-header"  id="freshLogo">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
		      <a class="navbar-brand" href="/">
		        <img alt="Brand" src="../images/logo.png">
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav navbar-right">
			        <li style="cursor: pointer;"><a style="color: #fff; padding: 0;" href="/shoppingCart"><i class="glyphicon glyphicon-shopping-cart cart"><span class="cartItems">{{itemsInCart}}</span></i></a>

			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px; padding: 5px;" role="button" aria-haspopup="true" aria-expanded="false"><img alt="" src="/images/user.png" class="profilePic"><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">User Name<br><span style="font-size: 9px;">View Profile</span></a></li>
			            <li><a href="#">Help</a></li>
			            <li><a href="#">Settings</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="/logout">Log out</a></li>
			          </ul>
			        </li>
			     </ul>
		    </div>
		  </div>
		</nav>
    	
    </header>

    <div class="container" style="margin-top: 5%;">
    	<section class="decoration">
	    	<div class="row">
		    	<div class="col-md-2">
		    		<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" style="width: 90%;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Shop
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="#">Produce</a></li>
					    <li><a href="#">Perishables</a></li>
					    <li><a href="#">Prepared Foods</a></li>
					    <li><a href="#">Pantry</a></li>
					    <li><a href="#">Speciality</a></li>
					  </ul>
					</div>
		    	</div>
		    	<div class="col-md-10">
		    		<div class="input-group">
				      <input type="text" class="form-control" placeholder="Amazon Fresh Search">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Go!</button>
				      </span>
				    </div>
		  		</div>
	    	</div>
    	</section>
    	<br>
    	<div class="mainTitle">
				<div class="container">
				<h1>Order Receipt</h1>
				</div>
			</div>
			<br><br>
    	<section class="col-md-12" style="min-height: 300px;" id="menu">
    		<div class="container">
			    <div class="row">
			        <div class="col-xs-12">
			            <div class="text-center">
			                <i class="fa fa-search-plus pull-left icon"></i>
			                <h2>Invoice for purchase #33221</h2>
			            </div>
			            <hr>
			            <div class="row">
			                <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
			                    <div class="panel panel-default height">
			                        <div class="panel-heading">Billing Details</div>
			                        <div class="panel-body">
			                            <strong>David Peere:</strong><br>
			                            1111 Army Navy Drive<br>
			                            Arlington<br>
			                            VA<br>
			                            <strong>22 203</strong><br>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-xs-12 col-md-3 col-lg-3">
			                    <div class="panel panel-default height">
			                        <div class="panel-heading">Payment Information</div>
			                        <div class="panel-body">
			                            <strong>Card Name:</strong> Visa<br>
			                            <strong>Card Number:</strong> ***** 332<br>
			                            <strong>Exp Date:</strong> 09/2020<br>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-xs-12 col-md-3 col-lg-3">
			                    <div class="panel panel-default height">
			                        <div class="panel-heading">Order Preferences</div>
			                        <div class="panel-body">
			                            <strong>Gift:</strong> No<br>
			                            <strong>Express Delivery:</strong> Yes<br>
			                            <strong>Insurance:</strong> No<br>
			                            <strong>Coupon:</strong> No<br>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-xs-12 col-md-3 col-lg-3 pull-right">
			                    <div class="panel panel-default height">
			                        <div class="panel-heading">Shipping Address</div>
			                        <div class="panel-body">
			                            <strong>David Peere:</strong><br>
			                            1111 Army Navy Drive<br>
			                            Arlington<br>
			                            VA<br>
			                            <strong>22 203</strong><br>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-heading">
			                    <h3 class="text-center"><strong>Order summary</strong></h3>
			                </div>
			                <div class="panel-body">
			                    <div class="table-responsive">
			                        <table class="table table-condensed">
			                            <thead>
			                                <tr>
			                                    <td><strong>Item Name</strong></td>
			                                    <td class="text-center"><strong>Item Price</strong></td>
			                                    <td class="text-center"><strong>Item Quantity</strong></td>
			                                    <td class="text-right"><strong>Total</strong></td>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                <tr>
			                                    <td>Samsung Galaxy S5</td>
			                                    <td class="text-center">$900</td>
			                                    <td class="text-center">1</td>
			                                    <td class="text-right">$900</td>
			                                </tr>
			                                <tr>
			                                    <td>Samsung Galaxy S5 Extra Battery</td>
			                                    <td class="text-center">$30.00</td>
			                                    <td class="text-center">1</td>
			                                    <td class="text-right">$30.00</td>
			                                </tr>
			                                <tr>
			                                    <td>Screen protector</td>
			                                    <td class="text-center">$7</td>
			                                    <td class="text-center">4</td>
			                                    <td class="text-right">$28</td>
			                                </tr>
			                                <tr>
			                                    <td class="highrow"></td>
			                                    <td class="highrow"></td>
			                                    <td class="highrow text-center"><strong>Subtotal</strong></td>
			                                    <td class="highrow text-right">$958.00</td>
			                                </tr>
			                                <tr>
			                                    <td class="emptyrow"></td>
			                                    <td class="emptyrow"></td>
			                                    <td class="emptyrow text-center"><strong>Shipping</strong></td>
			                                    <td class="emptyrow text-right">$20</td>
			                                </tr>
			                                <tr>
			                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
			                                    <td class="emptyrow"></td>
			                                    <td class="emptyrow text-center"><strong>Total</strong></td>
			                                    <td class="emptyrow text-right">$978.00</td>
			                                </tr>
			                            </tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

			<style>
			.height {
			    min-height: 200px;
			}

			.icon {
			    font-size: 47px;
			    color: #5CB85C;
			}

			.iconbig {
			    font-size: 77px;
			    color: #5CB85C;
			}

			.table > tbody > tr > .emptyrow {
			    border-top: none;
			}

			.table > thead > tr > .emptyrow {
			    border-bottom: none;
			}

			.table > tbody > tr > .highrow {
			    border-top: 3px solid;
			}
			</style>
	    </section>
	   
    </div>

    <footer style="padding: 0;">
    	<div id="refreshFooter">
		    <div class="column" id="column1">
		        <a id="lnk-gbl-help" href="#">Help</a>
			    <a href="#">Conditions of Use</a>
			    <a href="#">Privacy Notice</a>
		    </div>
		    <div class="column" id="column2">
		        <a href="#">About</a>
		        <a href="#">Careers</a>
		    </div>
			<div id="copyrightAndDisclaimer">
		        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
		        All items sold by and ship from AmazonFresh unless otherwise specified.
    		</div>
		</div>
    </footer>
    <script src="/js/holder.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/angular/controller.js"></script>
  
  </body>
</html>