<!DOCTYPE html>
<html ng-app="amazonFreshApp" ng-controller="login">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="stylesheets/style.css" rel="stylesheet">
    
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
	  $(function() {
	    $( "#datepicker" ).datepicker();
	  });
	  </script>
  </head>
  <body style="overflow-x: hidden;">

  <!-- Header-->
	<header>
	<div id="headerNav">
		<ul class="sidelist">
            <li id="freshLogo">
                <a id="fresh_logo_link" href="/"><img alt="AmazonFresh Home" src="../images/logo.png">
                <span></span></a>
            </li>
            <li class="first">
                <span id="greeting" class="greeting">
                    Already an AmazonFresh customer? <a id="signInLink" href="/signIn">Sign in</a>.
                </span>
            </li>
    	</ul>
	</div>
	</header>
	
	<div class="row" style="margin-top: 5%; margin-bottom: 3%;" >
		<div class="col-md-4"></div>
		
		<div class="col-md-4" id="contentArea">
		<form name="form">
			<!-- Sign Up-->
			<div>		
				<label align="left" style="margin-top: 20px;"><h1>Create New Account</h1></label>{{form.firstName.$valid}}
				<div class="row" style="margin-top: 20px;">	
					<div class="col-md-6">
						<p id="fnerror" ng-show="fnerror" style="color: red;">
							<strong>Invalid First Name</strong>
						</p>
						<input class="form-control" type="text" name="firstName" ng-model="firstName" autofocus placeholder="Your First Name" required ng-pattern="firstNameRegex">
					</div>
					<div class="col-md-6">
						<input class="form-control" type="text" name="lastName" ng-model="lastName" pattern="\w+.*" placeholder="Your Last Name" required>
					</div>	
				</div>
				
				<div class="form-group" style="margin-top: 10px;">				
					<input class="form-control" type="email" name="email" ng-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" required>					
				</div>
				
				<div class="form-group" style="margin-top: 10px;">				
					<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required>					
				</div>
				
				<div class="form-group" style="margin-top: 10px;">				
					<input class="form-control" type="password" name="cpassword" ng-model="cpassword" placeholder="Confirm Password" required>					
				</div>
				
				<div class="form-group" style="margin-top: 10px;">				
					<input class="form-control" type="text" name="ssn" ng-model="ssn" pattern="^\d{3}-\d{2}-\d{4}$" placeholder="Your SSN (Example: 000-00-0000)" required>					
				</div>
				Registering As...<br>
				<select class="form-control" style="margin-top: 5px;" ng-model="userType" required>
				  <option value="customer">Customer</option>
				  <option value="farmer">Farmer</option>
				</select>
				<div ng-hide="personalInfoSection">
					<br>
				    <br>
					<br>
					<input type="submit" class=" form-control" style="background-color: #669900; color:white; font-size: medium; margin-bottom:15px" ng-click="showNext('2');" value="Continue" />
				</div>
				</div><br><br><br>
				<div ng-hide="addSection">
					<h3 align="left" style="margin-top: 10px;">Enter Address</h3>
					
					<div class="form-group" style="margin-top: 10px;">
						
						<input class="form-control" type="text" name="address" ng-model="address" placeholder="Address" required>					
					</div>
					<div class="form-group" style="margin-top: 10px;">			
						
						<span  style="width: 70%; float: left; margin-right: 10px;"><input class="form-control" type="text" name="Zipcode" ng-model="zipcode" placeholder="Zipcode" required></span>
						<span  style="width: 20%"><button class="btn btn-success" ng-click="getCityState(zipcode);">Lookup</button></span>
					</div>
					
					<div class="form-group" style="margin-top: 10px;">		
						
						<input class="form-control" type="text" name="city" ng-model="city" placeholder="City" required>
					</div>
					
					
					<div class="form-group">	
						<input type="text" ng-model="state" class="date form-control" placeholder="State (Example: CA)">
					</div>
					
					
					<div ng-hide="addBtnSection">
						<br>
					    <br>
						<br>
						<input type="button" class="form-control" ng-click="showNext('3');" style="background-color: #669900; color:white; font-size: medium; margin-bottom:10px" value="Continue" />
					</div>
				   </div>
			    	<br><br><br>
					<div ng-hide="ccSection">		
						<h3 align="left" style="margin-top: 10px;">Enter Card Details</h3>
						
						<div class="form-group" style="margin-top: 10px;">
							
							<input class="form-control" type="text" name="cardNumber" ng-model="cardNumber" placeholder="Card Number" required>					
						</div>
						
						
						<div class="form-group" style="margin-top: 10px;">		
							
							<input class="form-control" type="text" name="nameOnCard" ng-model="nameOnCard" placeholder="Name on Card" required>
						</div>
						
						
						<div class="form-group">	
							<input type="text" id='datepicker' ng-model="expiry" class="date form-control" placeholder="Expiration date (mm/dd/yyyy)">
						</div>
					    
					    <div class="form-group" style="margin-top: 10px;">
					    	
							<input class="form-control" type="number" name="cvv" ng-model="cvv" placeholder="CVV" required>
						</div>
							<br>
					    <br>
						<br>
						<input type="button" class="form-control" ng-click="register();" style="background-color: #669900; color:white; font-size: medium; margin-bottom:10px" value="Finish" />
		      			
					</div>	
				<br>
			</form>
		</div>
		
		<div class="col-md-4"></div>
	</div>

	
	<div class="row" style="margin-top: 5%; margin-bottom: 5%;" ng-hide="notifySection">
		<div class="col-md-4"></div>
		
		<div class="col-md-4" id="contentArea">
			
				{{message}} <a href="/">Sign In</a>
		
		</div>
		
		<div class="col-md-4"></div>
	</div>
	
	
	<!-- Footer-->
	<footer style="float:bottom;bottom:0" id="footer">
	<div id="refreshFooter">
	    <div class="column" id="column1">
	        <a id="lnk-gbl-help" href="#">Help</a>
		    <a href="#">Conditions of Use</a>
		    <a href="#">Privacy Notice</a>
	    </div>
	    <div class="column" id="column2">
	        <a href="#">About</a>
	        <a href="#">Careers</a>
	    </div>
		<div id="copyrightAndDisclaimer">
	        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
	        All items sold by and ship from AmazonFresh unless otherwise specified.
		</div>
	</div>
	</footer>
	<!-- AngularJs library --> 	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- AngularJs library --> 	
	<script src="/angular/login.js"></script>
  </body>
</html>