<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="stylesheets/style.css" rel="stylesheet">
	
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    
    <!-- AngularJs library --> 	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
  </head>
  <body style="overflow-x: hidden;">

  <!-- Header-->
	<header>
	<div id="headerNav">
		<ul class="sidelist">
            <li id="freshLogo">
                <a id="fresh_logo_link" href="/"><img alt="AmazonFresh Home" src="../images/logo.png">
                <span></span></a>
            </li>
            <li class="first">
                <span id="greeting" class="greeting">
                    Already an AmazonFresh customer? <a id="signInLink" href="/signIn">Sign in</a>.
                </span>
            </li>
    	</ul>
	</div>
	</header>
	
	<div class="row">
		<div class="col-md-4"></div>
		
		<div class="col-md-4">
			<!-- Sign In-->
			<form role="form">		
			
				<div class="form-group" style="margin-top: 150px;">
					<p>E-mail or mobile number</p>
					<input class="form-control" type="text" name="username" ng-model="username" autofocus>
					<br>
					<p id="error" ng-hide="invalidLogin" style="float:right">
						<strong>Incorrect username</strong>
					</p>
				</div>
		
				<div class="form-group" style="margin-top: 10px;">
					<p>Password</p>
					<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password">
					
					<span class="small" style="float:right"><a style="color:#004B91">Forgot Password?</a></span>
					<br>
					<p id="error" ng-hide="invalidPassword" style="float:right">
						<strong>Incorrect password</strong>
					</p>
				</div>
				
				<!--<input type="submit" class=" form-control" style="background-color: #669900; color:white; font-size: medium;" ng-click="submit();" value="Sign In" />-->
				
				
				<div class="row">				
					<div class="col-md-3">
						<div class="dropdown">
		    				<button class="btn btn-default dropdown-toggle" aria-expanded="true" type="button" data-toggle="dropdown" style="background-color: #669900; color:white; font-size: medium;margin-top:12px;">Sign In
		    					<span class="caret"></span>
		    				</button>
		    				<ul class="dropdown-menu">
		      					<li><a href="#">As Customer</a></li>
							    <li><a href="#">As Farmer</a></li>
							    <li><a href="#">As Admin</a></li>
		    				</ul>
						</div>
					</div>
					<div class="col-md-9">				
						<span id="sign_in_notification_row" class="small">
		      				New Amazon.com customer? <a style="color:#004B91">Create a new Amazon account</a>
		      			</span>		
		      		</div>	
	      		</div>	
			</form>				
		
		</div>
		
		<div class="col-md-4"></div>
	</div>
	
	<!-- Footer-->
	<footer style="float:bottom;bottom:0" class="navbar-fixed-bottom">
	<div id="refreshFooter">
	    <div class="column" id="column1">
	        <a id="lnk-gbl-help" href="#">Help</a>
		    <a href="#">Conditions of Use</a>
		    <a href="#">Privacy Notice</a>
	    </div>
	    <div class="column" id="column2">
	        <a href="#">About</a>
	        <a href="#">Careers</a>
	    </div>
		<div id="copyrightAndDisclaimer">
	        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
	        All items sold by and ship from AmazonFresh unless otherwise specified.
		</div>
	</div>
	</footer>
	


  </body>
</html>