<!DOCTYPE html>
<html ng-app="amazonFreshApp" ng-controller="login">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="stylesheets/style.css" rel="stylesheet">
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
    
  </head>
  <body style="overflow-x: hidden;">

  <!-- Header-->
	<header>
	<div id="headerNav">
		<ul class="sidelist">
            <li id="freshLogo">
                <a id="fresh_logo_link" href="/"><img alt="AmazonFresh Home" src="../images/logo.png">
                <span></span></a>
            </li>
            <li class="first">
                <span id="greeting" class="greeting">
                    Already an AmazonFresh customer? <a id="signInLink" href="/signIn">Sign in</a>.
                </span>
            </li>
    	</ul>
	</div>
	</header>
	
	<div class="row">
		<div class="col-md-4"></div>
		
		<div class="col-md-4">
			<!-- Sign In-->
			<form role="form" name="form">		
				
				<div class="form-group" style="margin-top: 100px;">
					<h2>Login</h2>
					<p id="error" ng-hide="invalidCredentials" style="color: red;">
						<strong>{{errMsg}}</strong>
					</p>
					<p>E-mail</p>
					<input class="form-control" type="email" name="email" ng-model="email" ng-pattern="emailRegex" autofocus required="" placeholder="Email">
					<br>
					<p id="error" ng-show="emailerror" style="float:right;color: red;">
						<strong>Invalid Email</strong>
					</p>
				</div>
		
				<div class="form-group" style="margin-top: 10px;">
					<p>Password</p>
					<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password">
					
					<span class="small" style="float:right"><a style="color:#004B91">Forgot Password?</a></span>
					<br>
					<p id="error" ng-show="pwderror" style="float:right; color: red;">
						<strong>Password required to login.</strong>
					</p>
				</div>
				
				<!--<input type="submit" class=" form-control" style="background-color: #669900; color:white; font-size: medium;" ng-click="submit();" value="Sign In" />-->
				
				
				<div class="row">				
					<div class="col-md-6">
						
						Signing As...<br><br>
						<p id="uterror" ng-show="uterror" style="color: red;">
							<strong>Please select valid User Type.</strong>
						</p>
						<input type="radio" name="utype" style="background-color: #669900;" ng-click="login('customer');"> Customer <br>
						<input type="radio" name="utype" style="background-color: #669900;" ng-click="login('farmer');"> Farmer
						
					</div>
					<div class="col-md-6" style="margin-top:30px;text-align: right;">				
						<span id="sign_in_notification_row" class="small">
		      				New Amazon.com customer? <a style="color:#004B91;" href="/signUp">Create a new Amazon account</a>
		      			</span>		
		      		</div>	
	      		</div>	
			</form>				
		
		</div>
		
		<div class="col-md-4"></div>
	</div>
	<div style="height: 100px;"></div>
	<!-- Footer-->
	<footer style="" class="">
	<div id="refreshFooter">
	    <div class="column" id="column1">
	        <a id="lnk-gbl-help" href="#">Help</a>
		    <a href="#">Conditions of Use</a>
		    <a href="#">Privacy Notice</a>
	    </div>
	    <div class="column" id="column2">
	        <a href="#">About</a>
	        <a href="#">Careers</a>
	    </div>
		<div id="copyrightAndDisclaimer">
	        &copy; 2016 AmazonFresh, LLC or its affiliates&nbsp;
	        All items sold by and ship from AmazonFresh unless otherwise specified.
		</div>
	</div>
	</footer>
	<!-- AngularJs library --> 	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- AngularJs library --> 	
	<script src="/angular/login.js"></script>


  </body>
</html>