body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#headerNav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url("../images/header-bg.png");
    border-color: #ccc;
    border-image: url("../images/header-undergradient.png") 0 0 2 0;
    border-style: solid;
    border-width: 0;
    color: #fff;
    height: 45px;
    left: 0;
    margin: 0;
    min-width: 1015px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

ul.sidelist {
    border: 0 none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#headerNav #freshLogo {
    padding-right: 25px;
}
#headerNav #greeting #signInLink {
    text-decoration: underline;
}
#headerNav ul.sidelist li {
    display: inline-block;
    line-height: 44px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#headerNav ul.sidelist li a {
    color: #fff;
    font-size: 13px;
    outline: medium none;
    text-decoration: none;
}
#headerNav #freshLogo a img {
    margin-top: -4px;
}
#headerNav ul.sidelist li img {
    border: medium none;
    vertical-align: middle;
    padding-left: 15px;
}
#refreshFooter {
    background-color: #393f44;
    color: #fff;
    min-height: 100px;
    padding: 15px;
    text-align: left;
}
#refreshFooter .column {
    float: left;
    margin-bottom: 15px;
}
#refreshFooter .column a {
    color: #fff;
    display: block;
    font-size: 14px;
    margin-right: 50px;
    text-decoration: none;
}
#refreshFooter #copyrightAndDisclaimer {
    clear: both;
    font-size: 12px;
}
.welPanel {
    min-height: 600px;
}
.welImage {
    background: rgba(0, 0, 0, 0) url("../images/home-bg.jpg") no-repeat scroll 50% 30% / cover ;
}
.errorContent{
	background-color: #fff;
	opacity: 0.9;
	top: 30%;
	 padding: 10px;
	position: absolute !important;
	 box-shadow: 10px 10px 5px #888888;
	 font-family: verdana,arial,helvetica,sans-serif;
	 font-weight: bold;
	 font-size: medium;
}

.profilePic{
    border-radius: 7px;
    box-sizing: border-box;
    color: #000;
    height: 35px;
    width: 35px;
    position: relative;
}
.cart{
	font-size: 26px;
    margin-right: 20px;
    padding: 10px;
}
.decoration{
	margin-top: 5px;
	margin-bottom: 5px;
}
.prodDesc{
	font-size: 24px;
    font-weight: bold;
}
.price{
	font-size: 24px;
    font-weight: bold;
    color: green;
}


.col-3 {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count:3;
    column-gap:10px;
}
.cartItems{
	color: #7db641;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -25px;
}
.prodDescAddToCart{
	margin-left: 30px; 
	width: 20%;
	background-color: #7db641;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: &#9734;
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.summary{
	background-color: #fff;
    border-radius: 2px;
    margin: 0 0 0 10px !important;
    padding: 0 !important;
    float: right;
}
.summaryHeader{
	background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    
}

.form-horizontal .controls {
    margin-left: 180px;
}
.form-horizontal .control-group::before, .form-horizontal .control-group::after {
    content: "";
    display: table;
    line-height: 0;
}
.form-horizontal .control-group::after {
    clear: both;
}
.form-horizontal .control-group::before, .form-horizontal .control-group::after {
    content: "";
    display: table;
    line-height: 0;
}
.form-horizontal .control-group {
    margin-bottom: 20px;
}
legend + .control-group {
    margin-top: 20px;
}
.span6 {
    width: 570px;
}
.span3 {
	width: 100px !important;
	margin-right: 20px;
}
input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    border-color: #ee5f5b;
    color: #b94a48;
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

#shopDefault{
	//background-image: url("../images/shop-default.png");
	background-repeat:no-repeat;
	min-width: 122px;
    min-height: 37px;
    background-color: #393F44;
    color: #fff;
    font-size: 13px;
}

#shopGo{
	background-image: url("../images/searchbar-right-go.png");
	background-repeat:no-repeat;
	
	min-width: 40px;
    min-height: 34px;
}

#shopBar{
	margin-left: 3px;
}

.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    margin-left:2px;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #669900;
}
.left-caret:after
{	border-right: 5px solid #669900;
}

#chartdiv {
	width	    : 50%;
	height		: 400px;
	font-size	: 11px;
}

/* admin module */
.nav-tabs{
  background-color:#161616;
}
.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
.adminSearch{
	float: left;
}
.adminSearchBy{
	float: left;  padding: 7px 5px 0 50px;color: #000;
}
.adminSearchInput{
	float: left;margin-left: 10px;width: 30%;
}